:root {
    --dashed-line-thickness: 1px;
    --dashed-line-animation-duration: 10s;

    --main-container-width: 50vw;
    --main-container-height: 60vh;

    --menubar-width-ratio: 0.20;
    --menubar-width: calc(var(--menubar-width-ratio) * var(--main-container-width));
    --menubar-height: var(--main-container-height);
    --menuitem-padding: 12px;
    --menubutton-height-ratio: 0.10; /* height of menu button as a ratio to the height of the menubar */
    --menubutton-height: calc(var(--menubutton-height-ratio) * var(--menubar-height));
    
    --textbox-padding: 20px;
    --textbox-width: calc(var(--main-container-width) - 1 * var(--menubar-width));
    --textbox-height: var(--main-container-height);

    --title-font-size-default: 28px;
    --title-font-size-ideal: 2vmax; /* vmax is proportional to the longest side of the window */

    --text-font-size-default: 14px;
    --text-font-size-ideal: 1vmax; /* vmax is proportional to the longest side of the window */

    --scrolltext-cycle-duration: 60s;
    --scrolltext-font-size: 24px;
    --scrolltext-padding: 12px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
canvas {
    margin:auto;
}
.maincontainer {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: var(--main-container-width);
    /* min-width: 500px; */
    height: var(--main-container-height);
    margin: calc(var(--main-container-height) / -2) calc(var(--main-container-width) / -2);
}
#textbox {
    position: absolute;
    left: calc(var(--menubar-width));
    margin: 0 0 0 0;
    background-color: rgb(255, 255, 255);
    width: calc(var(--textbox-width) - 2 * var(--textbox-padding) - 2 * var(--dashed-line-thickness));
    height: calc(var(--textbox-height) - 2 * var(--textbox-padding) - 2 * var(--dashed-line-thickness));
    border: var(--dashed-line-thickness) dashed black;
    padding: var(--textbox-padding);
    overflow: scroll;
}
.menubar {
    position: absolute;
    height: var(--menubar-height);
    width: var(--menubar-width);
}
.left {
    left: 0;
    float: left;
}
.right {
    right: 0;
    float: right;
}
#headshot-box {
    position: relative;
    margin: 0 0 var(--menuitem-padding) 0;
    background-color: rgb(255, 255, 255);
    width: calc(var(--menubar-width) - var(--menuitem-padding) - 2 * var(--dashed-line-thickness));
    height: calc(var(--menubar-width) - var(--menuitem-padding) - 2 * var(--dashed-line-thickness));
    border: var(--dashed-line-thickness) dashed black;
    display: none;
    overflow: auto;
}
#headshot {
    max-width: 100%;
    max-height: 100%;
}
.menubutton {
    position: relative;
    margin: 0 0 var(--menuitem-padding) 0;
    background-color: rgb(255, 255, 255);
    width: calc(var(--menubar-width) - var(--menuitem-padding) - 2 * var(--dashed-line-thickness));
    height: calc(var(--menubutton-height) - 2 * var(--dashed-line-thickness));
    border: var(--dashed-line-thickness) dashed black;
    cursor: pointer;
    overflow: auto;
}
.menubuttontext {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    
    font-size: 14px; /* fallback */
    /* font-size: max(1vmax, 14px); */
    font-size: 1vmax;
}
.text {
    font-family: "Courier New", Courier, monospace;
    text-align: left;
}
.content {
    font-size: var(--text-font-size-default); /* fallback */
    font-size: max(var(--text-font-size-ideal), var(--text-font-size-default));
}
.title {
    font-size: var(--title-font-size-default); /* fallback */
    font-size: max(var(--title-font-size-ideal), var(--title-font-size-default));
}
.scroll-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100vw;
}
#bottom-container {
    position: absolute;
    bottom: 0px;
}
.scrolling {
    font-family: 'Hiragino Sans W1', 'Hiragino Kaku Gothic Pro', 'WenQuanYi Zen Hei', '微軟正黑體', '蘋果儷中黑', Helvetica, Arial, sans-serif;
    font-size: var(--scrolltext-font-size);
    animation: marquee var(--scrolltext-cycle-duration) linear infinite;
    display: inline-block;
    padding-right: var(--scrolltext-padding);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.border{
    background: -webkit-linear-gradient(0deg, black 60%, transparent 60%), -webkit-linear-gradient(0deg, black 60%, transparent 60%), -webkit-linear-gradient(90deg, black 60%, transparent 60%), -webkit-linear-gradient(90deg, black 60%, transparent 60%);
    background: -moz-linear-gradient(90deg, black 60%, transparent 60%), -moz-linear-gradient(90deg, black 60%, transparent 60%), -moz-linear-gradient(0deg, black 60%, transparent 60%), -moz-linear-gradient(0deg, black 60%, transparent 60%);
    background: linear-gradient(to right, black 60%, transparent 60%), linear-gradient(to left, black 60%, transparent 60%), linear-gradient(to top, black 60%, transparent 60%), linear-gradient(to bottom, black 60%, transparent 60%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 5px 1px, 5px 1px, 1px 5px, 1px 5px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0%;
}
.border:hover{
    -webkit-animation: border-dance var(--dashed-line-animation-duration) infinite linear;
    -moz-animation: border-dance var(--dashed-line-animation-duration) infinite linear;
    animation: border-dance var(--dashed-line-animation-duration) infinite linear;
}

@-webkit-keyframes border-dance{
    0% {
      background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0%;
    }
    100% {
      background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}

@-moz-keyframes border-dance{
    0% {
        background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0%;
    }
    100% {
    background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}

@keyframes border-dance{
    0% {
        background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0%;
    }
    100% {
    background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to { 
        transform: translateX(-100%);
    }
}